-- schema
SELECT *
  FROM [HC_WEB_DB].[dbo].[schema]
  WHERE id = 33

-- domain
SELECT *
  FROM [HC_WEB_DB].[dbo].[domain_variable]
  WHERE id = 3

-- discrete_classifications
SELECT * FROM [HC_WEB_DB].[dbo].[discrete_classification]
  where domainid = 3
  
-- classifications
SELECT *
  FROM [HC_WEB_DB].[dbo].[classification]
  where id in (SELECT [classid]     
  FROM [HC_WEB_DB].[dbo].[discrete_classification]
  where domainid = 3)

/* test query
SELECT CASE WHEN AEZ_CODE = 311 THEN 'Arid' WHEN AEZ_CODE = 314 THEN 'Humid' WHEN AEZ_CODE = 312 THEN 'Semi-Arid' WHEN AEZ_CODE = 315 THEN 'Arid' WHEN AEZ_CODE = 313 THEN 'Sub-Humid' WHEN AEZ_CODE = 321 THEN 'Tropical Highlands' WHEN AEZ_CODE = 322 THEN 'Tropical Highlands' WHEN AEZ_CODE = 323 THEN 'Tropical Highlands' WHEN AEZ_CODE = 324 THEN 'Tropical Highlands' END AS 'AEZ_CODE'
,CASE WHEN AEZ_CODE = 311 THEN '1' WHEN AEZ_CODE = 314 THEN '4' WHEN AEZ_CODE = 312 THEN '2' WHEN AEZ_CODE = 315 THEN '1' WHEN AEZ_CODE = 313 THEN '3' WHEN AEZ_CODE = 321 THEN '5' WHEN AEZ_CODE = 322 THEN '5' WHEN AEZ_CODE = 323 THEN '5' WHEN AEZ_CODE = 324 THEN '5' END AS 'sortorder_AEZ_CODE'
,CASE WHEN PD_RU05 >= 0 AND PD_RU05 <= 100 THEN 'LO' WHEN PD_RU05 >= 100 AND PD_RU05 <= 1000 THEN 'HI' END AS 'PD_RU05',CASE WHEN PD_RU05 >= 0 AND PD_RU05 <= 100 THEN '1' WHEN PD_RU05 >= 100 AND PD_RU05 <= 1000 THEN '3' END AS 'sortorder_PD_RU05'
,CASE WHEN SUM(PN05_TOT) > 0 THEN ROUND((SUM(TPOV_PT125*PN05_TOT)/SUM(PN05_TOT)), 2, 1) ELSE 0 END AS 'TPOV_PT125' 
FROM  [HC_WEB_DB].dbo.CELL_VALUES  WHERE (AEZ_CODE = 311 OR AEZ_CODE = 314 OR AEZ_CODE = 312 OR AEZ_CODE = 315 OR AEZ_CODE = 313 OR AEZ_CODE = 321 OR AEZ_CODE = 322 OR AEZ_CODE = 323 OR AEZ_CODE = 324) AND (PD_RU05 >= 0 AND PD_RU05 <= 100 OR PD_RU05 >= 100 AND PD_RU05 <= 1000) 
GROUP BY CASE WHEN AEZ_CODE = 311 THEN 'Arid' WHEN AEZ_CODE = 314 THEN 'Humid' WHEN AEZ_CODE = 312 THEN 'Semi-Arid' WHEN AEZ_CODE = 315 THEN 'Arid' WHEN AEZ_CODE = 313 THEN 'Sub-Humid' WHEN AEZ_CODE = 321 THEN 'Tropical Highlands' WHEN AEZ_CODE = 322 THEN 'Tropical Highlands' WHEN AEZ_CODE = 323 THEN 'Tropical Highlands' WHEN AEZ_CODE = 324 THEN 'Tropical Highlands'END
,CASE WHEN AEZ_CODE = 311 THEN '1' WHEN AEZ_CODE = 314 THEN '4' WHEN AEZ_CODE = 312 THEN '2' WHEN AEZ_CODE = 315 THEN '1' WHEN AEZ_CODE = 313 THEN '3' WHEN AEZ_CODE = 321 THEN '5' WHEN AEZ_CODE = 322 THEN '5' WHEN AEZ_CODE = 323 THEN '5' WHEN AEZ_CODE = 324 THEN '5'END
,CASE WHEN PD_RU05 >= 0 AND PD_RU05 <= 100 THEN 'LO' WHEN PD_RU05 >= 100 AND PD_RU05 <= 1000 THEN 'HI'END
,CASE WHEN PD_RU05 >= 0 AND PD_RU05 <= 100 THEN '1' WHEN PD_RU05 >= 100 AND PD_RU05 <= 1000 THEN '3'END 
  ORDER BY 'sortorder_AEZ_CODE','sortorder_PD_RU05'
  */